@import "app.css";
@import "base.css";


#guest .content {
    width: 100%;
    height: calc(100%);
    display: table;
    background: url(../images/bg_login.png) no-repeat;
    background-size: 100% 100%;
    min-height: 850px;
    position: relative;
}
#guest div.img {
    width: 300px;
    margin: 0 auto;
}
#guest .sub-content p.title{
    text-align: center;
    font-size: 30px;
    color: white;
    letter-spacing: 4px;
    font-family: 'Nanum Brush';
    margin: 50px;
}
#guest div.img img {
    width: 100%;
}
#guest .btn-login {
    margin-top: 30px;
    text-align: center;
}
#guest .btn-login .btn{
    width: 130px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    border: 1px solid #7F7F7F;
    color: white;
    font-size: 13px;
    padding-top: 10px;
    text-align: center;
    margin: 10px;
}