<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Home</title>

    <!-- Styles -->
    <link th:href="@{/css/guest.css}" rel="stylesheet"/>

</head>
<body>
<div id="guest">
    <div class="content">
        <div class="sub-content">
            <p class="title">
                Welcome to My Internet Banking
            </p>
            <div class="img">
                <img th:src="@{/images/home.png}" alt=""/>
            </div>
            <div class="btn-login">
                <a class="btn" th:href="@{/login}">SIGN IN</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>