<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Sign In</title>

    <!-- Styles -->
    <link th:href="@{/css/customer/login.css}" rel="stylesheet"/>
</head>
<body>
<div id="login">
    <div class="content">
        <div class="sub-content">
            <form class="form-login" role="form" method="POST" th:action="@{/login}" autocomplete="off">
                <img th:src="@{/images/home.png}" alt=""/>
                <h4>SIGN IN</h4>
                <div>
                    <input type="email" class="input-form form-control" name="email" placeholder="ID-EMAIL" autocomplete="off" required="required"/>
                    <input type="password" class='input-form form-control' name="password" placeholder="PASSWORD" autocomplete="off" required="required"/>
                </div>
                <div>
                    <button class="btn-login btn" href="">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>